<% @tasks.each do |task| %>
  <h2><%= link_to task.title, task_path(task) %></h2>
  <% if task.completed %>
    [X]
  <% else %>
    [ ]
  <% end %>
  <%= link_to "Delete", task_path(task.id),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
<% end %>

<p><%= link_to "+ create a new task", tasks_new_path %></p>

